.paginator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 42px;
}

.pageContainer {
  display: flex;
  gap: 15px;
  width: fit-content;
}

@media screen and (max-width: 1023px) {
  .paginator {
    padding-right: 22px;
    padding-left: 22px;
  }
}

@media screen and (max-width: 767px) {
  .paginator {
    padding-right: 12px;
    padding-left: 12px;
  }
}
